
<div class="el-screen el-verification">
    <!-- <button type="button" class="el-btn-back">
        <img src="../../../assets/svg/arrow-left-1-svgrepo-com.svg" alt="">
    </button> -->
    <div *ngIf="loading" class="global-spinner">
        <app-spinner></app-spinner> <!-- composant spinner réutilisable -->
    </div>
    <h1>Verification</h1>
    <legend>Enter the 6-digit code that has been sent <strong>{{ email ? email :  '' }}</strong></legend>
    <form #verificationFormGroup="ngForm" (ngSubmit)="onSubmit(verificationFormGroup)" class="el-form">
        <div class="el-container-digits">
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code0" #code0 autocomplete="one-time-code" (input)="onInput($event, code1)"></div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code1" #code1 autocomplete="one-time-code" (input)="onInput($event, code2)"></div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code2" #code2 autocomplete="one-time-code" (input)="onInput($event, code3)"></div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code3" #code3 autocomplete="one-time-code" (input)="onInput($event, code4)"></div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code4" #code4 autocomplete="one-time-code" (input)="onInput($event, code5)"></div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code5" #code5 autocomplete="one-time-code" (input)="onInput($event)"></div>
        </div>
        <p class="el-info">
            Vous n'avez pas encore reçu le code ? <br>
            <a href="javascript:;" (click)="resendCode()" [class.disabled]="resendDisabled">Renvoyer</a>
            <span *ngIf="resendDisabled">
                ({{ resendMinutes }}:{{ resendSeconds }})
            </span>
        </p>
        <button type="submit" class="el-btn-primary el-btn-block">Verify</button>
    </form>
</div>