<div class="el-screen el-bot">
    <button type="button" class="el-btn-back">
        <img src="../../../../assets/svg/arrow-left-1-svgrepo-com.svg" alt="">
    </button>
    <div class="el-chat-messages">
        <!-- Chat messages will go here -->
        <div class="el-message el-message-bot">
            <p>Hi! How can I help you today?</p>
        </div>
        <div class="el-message el-message-user">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nobis, minus ratione ad
                consequatur dicta vel et mollitia laboriosam qui porro natus? Voluptas dolores quibusdam officia
                ab praesentium vel voluptatum.</p>
        </div>
        <div class="el-message el-message-bot">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit sapiente doloribus atque at vel
                perferendis nesciunt temporibus soluta quod labore suscipit tempore minus deserunt placeat,
                explicabo ipsa recusandae excepturi id. Vero sit aperiam doloremque perspiciatis error aliquam
                explicabo nulla, officia illum dolorem distinctio doloribus facere quos quas sunt laborum sint
                cupiditate, fuga necessitatibus illo ullam. Cumque vitae est accusamus et nobis consequuntur
                nesciunt omnis molestias minus corporis modi necessitatibus tenetur, quia enim commodi ab
                corrupti, minima id aperiam maxime quis. Dolorum commodi quam unde magni vero ratione officiis
                earum hic totam ipsum, expedita aspernatur accusamus repellat provident, cum eius nam.</p>
        </div>
        <div class="el-message el-message-user">
            <p>Can you help me with my account?</p>
        </div>
        <div class="el-loading-message-bot el-message">
            <img src="../../../../assets/svg/loading-black.svg" alt="">
            <p>Analysing your request...</p>
        </div>
    </div>
</div>