
<div class="el-screen el-sign-up">
    <button type="button" class="el-btn-back">
        <img src="../../../assets/svg/arrow-left-1-svgrepo-com.svg" alt="">
    </button>
    <h1>New Password</h1>
    <legend>Enter your new password and remember not to forget it again</legend>
    <form #newPasswordFormGroup="ngForm" (ngSubmit)="onSubmit(newPasswordFormGroup)" class="el-form">
        <div class="el-container-digits">
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code0">
            </div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code1">
            </div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code2">
            </div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code3">
            </div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code4">
            </div>
            <div class="el-form-group"><input type="text" maxlength="1" pattern="[A-Z0-9]" required [ngModel] name="code5">
            </div>
        </div>
        <div class="el-form-group">
            <input type="password" id="password" required [ngModel] name="password">
            <label for="password">Password</label>
            <button type="button" class="el-btn-show-password">
                <img src="../../../assets/svg/eye-svgrepo-com.svg" alt="">
            </button>
            <button type="button" class="el-btn-mask-password el-hidden">
                <img src="../../../assets/svg/eye-off-svgrepo-com.svg" alt="">
            </button>
        </div>
        <div class="el-form-group">
            <input type="password" id="confirmation_password" required [ngModel] name="password_confirmation">
            <label for="confirmation_password">Password</label>
            <button type="button" class="el-btn-show-password">
                <img src="../../../assets/svg/eye-svgrepo-com.svg" alt="">
            </button>
            <button type="button" class="el-btn-mask-password el-hidden">
                <img src="../../../assets/svg/eye-off-svgrepo-com.svg" alt="">
            </button>
        </div>
        <button type="submit" class="el-btn-primary el-btn-block">Reset Password</button>
    </form>
</div>
