.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    /* semi-transparent pour UX SaaS */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 6px solid #f3f3f3;
    /* couleur grise clair pour le contour */
    border-radius: 50%;
    border-top: 6px solid #3f51b5;
    /* couleur principale (modifiable via @Input) */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animation rotation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}